
<div class="d-flex align-items-center justify-content-center cccc">
    <a id="vk-auth" class="btn icon shadow m-0 rounded-5 fw-medium" href="{{ uri }}">

        <div class="icon shadow m-0 rounded-5 fw-medium"
             style="
             background: #0077ff;
             height: 28px;
             width: 28px;
             "
        >

            <svg width="43" height="43" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg" style="">
                <path d="M15.0398 18.9C10.0174 18.9 7.15269 15.4466 7.03333 9.70001H9.54912C9.63175 13.9178 11.4864 15.7044 12.9555 16.0728V9.70001H15.3245V13.3376C16.7752 13.1811 18.2992 11.5234 18.8134 9.70001H21.1823C20.7875 11.9471 19.1348 13.6047 17.9595 14.2862C19.1348 14.8387 21.0171 16.2846 21.7333 18.9H19.1256C18.5655 17.1503 17.17 15.7965 15.3245 15.6123V18.9H15.0398Z" fill="white" style="fill:white;fill:white;fill-opacity:1;"></path>
            </svg>

        </div>

    </a>

</div>
